{% extends 'main.html %}
{% block body %}
        <div class="container fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">New Look Hair Design
A lot of people ask where we got our name, well we’re 3 sisters Estelle, Ciara & Hayleigh who grew up with hairdressing following our mother’s footsteps. Hairdressing is second nature to us!
We love nothing more than helping make you look and feel fabulous offering all aspects of hairdressing, makeovers by our amazing MUAS and the best eyebrows by our brow specialist.
We also specialise in a wide range of hair extension techniques using only the best for you!

.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
      <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Change the background</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
{% endblock %}


