{% extends 'template_main.html' %}

{% block content %}
<div class="container fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">New Look Hair Design
A lot of people ask where we got our name, well we’re 3 sisters Estelle, Ciara & Hayleigh who grew up with hairdressing following our mother’s footsteps. Hairdressing is second nature to us!
We love nothing more than helping make you look and feel fabulous offering all aspects of hairdressing, makeovers by our amazing MUAS and the best eyebrows by our brow specialist.
We also specialise in a wide range of hair extension techniques using only the best for you!
</div>
{% endblock %}


